/*Características generales como la fuente*/
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: rgb(29,29,31);
    /*border: 1px solid black;*/ /*Este borde me sirve de guía para ver los contenedores*/
    }

/*Cambia las propiedades de los enlaces*/
a, a:hover, a:focus, a:active, a:visited {
    text-decoration: none;
    color: inherit;
}

/*Fondo gris y posición de la barra de navegación*/
nav{
    background-color: rgba(0, 0, 0, 0.8);
    height: 44px;
    width: 100%;
    display: block;
}

/*Con esto se quitan los puntos de la lista y se posiciona. Con el overflow se evita que los enlaces dentro se muevan al minimizar la ventana.*/    
nav ul{
    list-style: none;
    text-align: center;
    display: inline-block;
    height: 100%;
    overflow: hidden;
}

/* Se establecen las propiedades de cada elemento de la lista de la barra de navegación (mostrarlos
seguidos, color, posición)*/
nav ul li{
    float: left;
    color: rgb(81, 81, 84);
    margin: 12px 30px;
}

/*Propiedades de las imágenes dentro de la barra de navegación*/
nav ul li img{
    height: auto;
    width:18px;
    margin-top: 0px;
}
 
/*Esta clase centra el texto del primer bloque*/
.center{
    text-align: center;
    padding-top: 20px;
    line-height: 250%;
}

/*Texto rojo*/
.red-small{
    color: red;
    font-size: small;
}

/*Propiedades de h1 del primer bloque*/
.center h1{
    font-size: 60px;
}

/*Propiedades de h4 del primer bloque*/
.center h4{
    font-size: 25px;
    padding-top: 15px;
}

/*Botones azules*/
.blue-button{
    background-color: rgb(0, 113, 227);
    color: white;
    font-size: 16px;
    border-radius: 45px;
    border-style: none;
    padding: 10px 20px;
}

/*Enlaces azules*/
.blue-a{
    color: rgb(0, 113, 227);
}

/*Centra la imagen del primer bloque*/
.img-center{
    width: 75%;
    padding-top: 40px;
}

/*Separa el segundo bloque*/
.bloque{
    margin-top:50px;
}

/*Cajas dentro del segundo bloque*/
.bloques-inside{
    display: inline-block;
    width: 40%;
    height: 100%;
    padding-top: 40px;
    margin-left: 5%;
    background-color: rgb(242, 242, 242);
}

/*Centra el texto de las cajas del segundo bloque*/
.center-2{
    text-align: center;
}

/*Propiedades de h2 de las cajas del segundo bloque*/
.center-2 h2{
    font-size: 40px;
    width: 50%;
    margin: 0 25%;
    padding-top: 10px;
}

/*Propiedades de h4 de las cajas del segundo bloque*/
.center-2 h4{
    font-size: 25px;
}

/*Propiedades de los párrafos en las cajas del segundo bloque*/
.center-2 p{
    width: 75%;
    margin: 0 auto;
    padding-top: 10px;
}

/*Propiedades de la primera imagen del segundo bloque*/
.img-center-2{
    width: 100%;
    padding-top: 100px;
}

/*Propiedades de la segunda imagen del segundo bloque*/
.img-center-3{
    width: 75%;
    padding-top: 50px;
}

/*Propiedades del último bloque*/
#bloq-final{
    display: block;
    padding-top: 50px;
    line-height: 150%;
    text-align: center;
    font-size: 20px;
}

/*Tamaño del icono del último bloque*/
.icono{
    height: 44px;
    width: auto;
}

/*Características del footer*/
footer{
    padding-top: 20px;
    margin-top: 50px;
    width: 100%;
    height: 50px;
    background-color: rgb(245, 245, 247);
    display: block;
    font-size: 12px;
}

/*Color de letra copyright*/
footer p{
    color: rgb(81, 81, 84);
    padding-left: 20px;
}

/*Propiedades listado footer*/
footer ul{
    list-style: none;
    display: inline-block;
    text-align: left;
    padding-top: 10px;
}
footer ul li{
    float: left;
}
footer ul li ::before{/*Separador*/
    content: " | ";
    padding: 0 10px;
}